.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*navbar */
#nav
{
  height: 6%;
  font-size: medium;
  position: fixed;
  top: 0;
  width: 100%;
}
#brand
{
  font-size: 30px;
  margin-bottom: 5px;
  color: black;
  margin-left: 25px;

}
a:link{
  text-decoration: none;
}
#background
{
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6%;
  height: 800px;
}
.SignIn
{
  height: 5px;
  font-size: 15x;
}
#getStartedButton{
  font-size: 12pt;
  height: 40px;
  width: 120px;
  color: white;
}
#card{
  text-align: center;
  font-size: 1.5vw;
  line-height: 0px;
}
#loginbox{
  width: 40%;
  left: 5%;
  position: absolute;
}
#LoginButton{
  right: 1%;
  position: absolute;
}
#cally{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
#callyContainer{
  position: relative;
}

#homeBack{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#delButton{
  right: -23%;
  position: relative;
}
#editButton{
  right: -12%;
  position: relative;
}
#addEvent{
  position: absolute;
  right: 3%;
  top: 2%;
  font-size: 1vw;
  font-weight: 300;
  background-color:  rgb(247, 247, 247);
}
#success{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 6%;
  right: 1%;
}
#getCode{
  width: 500px;
  height: 350px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  box-shadow: 4px 4px 10px #333333;
}
#getCodeButton{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.banner{
  position: absolute;
  height: 60%;
  width: 100%;
  background-color:rgb(32, 77, 134);
}
#changePassword{
  position: relative;
}
#resetCard{
  height: 600px;
  margin-top: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#changePasswordError{
  position: absolute;
}
#getCodeError{
  position: absolute;
}
#dropdown{
  position: absolute;
  right: 1%;
  bottom: 15px;

}
#account{
  padding-top: 150px;;
  position: absolute;
  width: 90%;
  left: 5%;
}
#container{
  position: fixed;
  top: 20%;
  width: 100%;
  height: 60%;
  background-color: white;
  text-align: center;
  color: black;
  box-shadow: 10px 10px 30px #505050;
}
#image{
  position: absolute;
  top: 50%;
  height: 200px;
}
hr{
  display: block;
  height: .5px;
  border: 0;
  border-top: 1px solid rgb(212, 212, 212);
  margin: 1em auto;
  padding: 0;
  width: 100%;
}
.dot{
  height: 100px;
  width: 100px;
  background-color: rgb(0, 46, 253);
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 30pt;
}
.accountHeaders{
  background-color: rgb(32, 77, 134);
  color: white;
  text-indent: 20px;
}
#codeToReset{
  font-size: 12pt;
  display: block;
  text-align: center;

}
#indexFooter{
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0%;
  background-color:rgb(32, 77, 134);
}
#homeTitle{
  text-align: center;
  top: 100px;
  line-height: 100px;
  color: white;
  position: relative;

}
